<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">{{title}}</h1>
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Office</th>
                        <th>Age</th>
                        <th>Start date</th>
                        <th>Salary</th>
                        <th>Salary</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{id_orders.id}}</td>
                            <td>{{id_orders.method}}</td>
                            <td>{{id_orders.shipping}}</td>
                            <td>{{id_orders.pickup_location}}</td>
                            <td>{{id_orders.totalQty}}</td>
                            <td>{{id_orders.customer_email}}</td>
                            <td>{{id_orders.customer_email}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



